

/* Footer */



.pizza-logo{
  width: 50px;
}

.pizza-item{
  border: 1px solid #d9d9d9;
  min-height: 300px;
  background-color: #fff;
  overflow: hidden;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}

.cart-item{
  min-width: 267px;
  margin-top: 10px;
  margin-bottom: 18px;
}

#empty-basket {
  border: 1px solid #c7c7c7;
  height: 150px;
  background: #f2f2f2 url(images/empty-basket.png) no-repeat center 30px;
  border-radius: 4px;
  color: #868686;
  text-align: center;
  padding-top: 100px;
  font-size: 12px;
}


.basket-header {
  border: 1px solid #d8d8d8;
  border-bottom: 0;
  padding: 7px;
  background: #fafafa;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px 4px 0 0;
}
.basket-header-span {
  cursor: pointer;
  content: '';
  position: relative;
  display: inline-block;
  background: url(images/icon_basket.png) no-repeat center center;
  width: 24px;
  height: 21px;
  top: 5px;
}

.basket-header-span span {
  margin: -6px;
  width: 66%;
  background: #ec008c;
  border-radius: 50%;
  display: block;
  color: #fff;
  line-height: 18px;
  position: absolute;
  font-size: 11px;
  text-align: center;
  animation-name: increaseScale;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.pizza-item-image{
  width: 300px;
  height: 300px !important;
}


/*Bassket container*/
.basket-items {
  /*padding: 0 15px 25px;*/
  border: 1px solid #d8d8d8;
  background-color: #edf2f5;
}

.basket-item {
  border-top: 1px solid #dadada;
  padding: 15px 0;
}
.idn-basket-hover {
  position: relative;
}

.basket-item .basket-item-title {
  margin-bottom: 10px;
  font-size: 20px;
}
.idn-basket-hover .basket-item-title, .idn-basket-hover .basket-item-price {
  transition: all .2s ease-in-out;
}

.basket-item-price{
  font-size: 15px;
  line-height: 45px;
}

.basket-item .basket-item-action {
  margin-top: 2px;
}

.basket-item-price span.price-holder{
  margin-left:7px;
}

.basket-item .inc {
  border-right: 0;
  border-radius: 50px 0 0 50px;
}
.basket-item .action-btn {
  color: #ec008c;
  padding: 2px 7px 0;
  cursor: pointer;
}

.basket-item .quantity {
  color: #ec008c;
  border: 0;
  border-radius: 30px;
  padding: 0;
  height: 23px;
  width: 23px;
  display: inline-block;
  text-align: center;
}

.product-size-picker-row .size-instance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 2px;
}

.product-size-picker-row .size-instance .label {
  font-family: proxima-nova,sans-serif;
  font-weight: 600;
  color: #4c3017;
  font-size: .625em;
}

.product-size-picker-row .size-instance .separator {
  align-self: center;
  margin-top: 2px;
  background-color: #ccd6d8;
  width: 28px;
  height: 2px;
}

.product-size-picker-row .size-instance.active {
  border: 2px solid #ee5a00;
}

.row.product-size-picker-row{
  margin:0px;
}

.product-size-picker-row .size-instance .icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}
.preorder-container {
  border: 1px solid #e0e0e0;
  background: #fff;
  margin-bottom: 15px;
  border-radius: 4px 4px 0 0;
}
.preorder-header {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  border-bottom: 1px solid #dadada;
  padding: 2px 4px;
  background: #fafafa;
  border-radius: 4px 4px 0 0;
  color: #383838;
  height: 45px;
}

.timeIcon {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(images/sprite.png) no-repeat -27px -118px;
  position: relative;
  top: 9px;
}

.removeIcon {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(images/sprite.png) no-repeat -46px -523px;
  position: relative;
  top: 10px;
}

/*.game-data-right.checkout-overview {*/
/*  flex: 0 0 440px;*/
/*  max-width: 440px;*/
/*  top: -150px;*/
/*}*/

.cart-summery {
  background-color: #edf2f5;
  color: #4c3017;
  text-align: left;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 17px;
}


 .total-price {
   text-align: center;
   font-size: 24px;
   font-weight: 900;
 }

.currency.active{
  border: 1px solid #fa6161;
}

