//pizza items

footer {
  background-color: #eaf2f6;
  bottom: 0px !important;
  position: fixed;
  width: 100%;
}

/* pages */

.home-section {
  margin-top: 15px
}

.about-section{
  margin-top: 15px
}

.contact-section {
  margin-top: 15px
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.pizza-item-row {
  position: relative;
  border: 1px solid #e1e7e9;
  border-radius: 10px;
  min-height: 200px;
  margin-bottom: 1rem !important;
}

.pizza-item-row .pizza-item-left {
  /* background: url(/build/static-files/images/texture/pattern1.png),rgba(220,240,246,.15); */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #eaf2f6;
  overflow: hidden;
}

.pizza-item-row .individual-product-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #edf2f5;
  color: #4c3017;
}

.pizza-item-row .pizza-item-left .pizza-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 200px;
}

.h-100 {
  height: 100% !important;
}

.pizza-item-row .pizza-item-header {
  text-transform: uppercase;
}

.align-self-center {
  align-self: center !important;
}

.fw-black {
  font-family: proxima-nova, sans-serif;
  font-weight: 900;
}

.pizza-item-row .individual-product-right .individual-product-caption, .pizza-item-row .individual-product-right .pizza-description {
  font-size: .9em;
}

.align-items-end {
  align-items: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.no-margin {
  margin-right: 0;
  margin-left: 0;
}

.fw-extra-bold {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
}

.pizza-item-row .pizza-item-left .pizza-item-image {
  display: block;
  width: auto;
  height: 100%;
  max-height: 200px;
  overflow: hidden;
  -o-object-fit: contain;
  object-fit: contain;
}


.pizza-item-row .pizza-item-image {
  max-width: 100%;
}

img.pp-default-image, img.pp-image-loaded {
  opacity: 1;
}


/**
pizza container
 */
.pizza-container {
  margin-top: 20px;
}

ul {
  list-style: none;
}

.navbar {
  background: #edf2f5;
}

.navbar > ul {
  display: flex;
  justify-content: center;
}

.navbar li {
  //padding: 0 15px;
  //margin: 0 15px;
  //position: relative;
}

.navbar a {
  line-height: 2.5;
  color: #fff;
  text-decoration: none;
  display: block;
}

/*
payment
 */
.payment-list-item {
  padding-top: 7px;
  padding-bottom: 7px;
}

.active-payment {
  border: 2px solid #ee5a00;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
}

.checkout-table-info tr {
  border-top: 2px solid #ee5a00;
}

.add-button {
  color: #fff;
  background-color: #ee5a00;
  border-color: #ee5a00;
}

a.add-button:hover {
  color: #fff;
  background-color: #ee9c67;
  border-color: #ee9c67;
}

/*
register form
 */

.register-form .form-group{
  display: flex;
}

.register-form .form-buttons{
  float: right;
}

.register-form .form-buttons >*{
  margin: 0.25rem;
}